/.venv
/age_vals.csv
/cols.csv
/Column names
/DATASETS
/data_ready.csv
/dictionary of everything
/my_sample.csv
/my_test.csv
/PAN_data.csv
/README.md
/test_data.csv
/valCounts.csv
/data_ready_45.csv
/data_ready_final.csv
/data_ready_knn.csv
/data_ready_nona.csv
/data_ready_old.csv
/data_ready_wnw.csv
/data_ready_wnw2.csv
/Not data_ready_nona/my_rsf_env.RData